html{
    font size: 8px;
}
body{
    background-color:white;
    font-size: 1rem;'
    line-height: .5rem;
    text-align:center;

}
#main
{
    background-color: rgb(248, 228, 228);
    padding: 10px;
    border-radius: 1%;
    margin: 10px;
}
#image
{
    position: relative;
    width:100%;
    display: block;
 max-width: 900px;
  margin:  auto;
}
#img-div
{ 
    display: block;
    width: 100%;
    background-color: white;
    padding: 90px;
    margin-bottom: 15px;
}
#img-caption
{
    font-size: 20px;
}
#list
{
    text-align: left;
    margin: 0 auto 50px auto;
max-width: 600px;
line-height: 2rem;

}
#title
{
    margin:30px 15px 30px 30px;
}
#top
{
    display: block;
    margin:30px 15px 40px 15px;
}
#foot
{
    font-style: italic;
    margin: auto;
    max-width: 560px;
    font-size: 7rem;
}
#source
{
    font-size:1rem;

}
a{
    color: darkmagenta;
}

